* {
  box-sizing: border-box; }
  
 body {
  padding: 0 1rem;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  text-align: left;
  background-color:#d3d3d3;
}
.box{
	width: 400px;
	border: 5px solid grey;
	padding: 15px;
	margin: 25px;
}
a {
  color: #000000;
  text-decoration: none; }
  a:hover {
    color: #ffffff;
	text-decoration: underline; }
	
small{
	font-size: 15px;
}
footer {
    font-size: 13px;
    color: #ccc;
}
.read-more{
	color: #0000b3;
}
.read-more:hover{
	color: #ff69b4;
}
/*insert custom css below*/
